**Задание 1**

1) Используя средства модуля [pandas](https://github.com/dm-fedorov/python3_intro/blob/master/lesson_13/pandas.ipynb), определите среднюю, максималную, минимальную зарплату и среднюю, максималную, минимальную пенсию в Санкт-Петербурге в 2018 году.

2) Продемонстрируйте умение построения графиков (для произвольных значений) с помощью plot.


**Задание 2**

Для [файла](http://dfedorov.spb.ru/python3/forecast.html), расположенного в сети Интернет, напишите сценарий с использованием [модуля bs4](https://github.com/dm-fedorov/python3_intro/blob/master/lesson_13/bs4.ipynb), который извлекает данные и сохраняет их в файле формата CSV, где первый столбец - день недели, второй столбец - погода. 

**Переходим к решению первой задачи:**

Импортируем модуль pandas:

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

Читаем содержимое csv файла:

In [2]:
data = pd.read_csv('opendata.csv', encoding='cp1251')
data.head()

                                           name  region        date   value
0  Количество заявок на потребительские кредиты  Россия  2013-01-15  571147
1  Количество заявок на потребительские кредиты  Россия  2013-02-15  504508
2  Количество заявок на потребительские кредиты  Россия  2013-03-15  628803
3  Количество заявок на потребительские кредиты  Россия  2013-04-15  836054
4  Количество заявок на потребительские кредиты  Россия  2013-05-15  867235

In [11]:
d=data[data['name']=='Средняя зарплата'][data['region']=='Санкт-Петербург'][data['date']>='2017-12-31']
d

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                   name           region        date  value
36763  Средняя зарплата  Санкт-Петербург  2018-01-15  31599
36764  Средняя зарплата  Санкт-Петербург  2018-02-15  42401
36765  Средняя зарплата  Санкт-Петербург  2018-03-15  41373
36766  Средняя зарплата  Санкт-Петербург  2018-04-15  44363
36767  Средняя зарплата  Санкт-Петербург  2018-05-15  46424
36768  Средняя зарплата  Санкт-Петербург  2018-06-15  49700
36769  Средняя зарплата  Санкт-Петербург  2018-07-15  45798
36770  Средняя зарплата  Санкт-Петербург  2018-08-15  43612
36771  Средняя зарплата  Санкт-Петербург  2018-09-15  41412
36772  Средняя зарплата  Санкт-Петербург  2018-10-15  43450
36773  Средняя зарплата  Санкт-Петербург  2018-11-15  44809

In [12]:
d.value.mean()

43176.454545454544

In [7]:
d.value.max()

49700

In [8]:
d.value.min()

31599

In [10]:
d1=data[data['name']=='Средняя пенсия'][data['region']=='Санкт-Петербург'][data['date']>='2017-12-31']
d1

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

                 name           region        date  value
41479  Средняя пенсия  Санкт-Петербург  2018-01-15  14694
41480  Средняя пенсия  Санкт-Петербург  2018-02-15  17019
41481  Средняя пенсия  Санкт-Петербург  2018-03-15  17058
41482  Средняя пенсия  Санкт-Петербург  2018-04-15  19922
41483  Средняя пенсия  Санкт-Петербург  2018-05-15  15276
41484  Средняя пенсия  Санкт-Петербург  2018-06-15  18958
41485  Средняя пенсия  Санкт-Петербург  2018-07-15  15045
41486  Средняя пенсия  Санкт-Петербург  2018-08-15  19636
41487  Средняя пенсия  Санкт-Петербург  2018-09-15  15106
41488  Средняя пенсия  Санкт-Петербург  2018-10-15  17644
41489  Средняя пенсия  Санкт-Петербург  2018-11-15  16900

In [13]:
d1.value.mean()

17023.454545454544

In [14]:
d1.value.max()

19922

In [15]:
d1.value.min()

14694